{
    "charts": [
        {
            "chart": "podinfo",
            "digest": "4578752316dc3cb0aacc073171bc97f05465e650c5849b7faa2d530bb74cc6cc",
            "version": "6.1.6"
        },
        {
            "chart": "rook-ceph",
            "digest": "2e886e71f82bc997c2294e972cbce13df3d3e4ac0c17bcc3b27ff66bdfae1070",
            "version": "v1.9.7"
        },
        {
            "chart": "rook-ceph-cluster",
            "digest": "dfad0574738446bec3826e0aeecd171677b4f1df97e81b310c8ed42e06c13ed5",
            "version": "v1.9.7"
        },
        {
            "chart": "kube-prometheus-stack",
            "digest": "d6eb7dde2624a174329e4bafc8b27d77279795ef1872533ac15804b7a7561ca0",
            "version": "37.2.0"
        }
    ],
    "flux_repository": {
        "commit": "c41e80920182f4dc44f36743c57f630ce0eabc57",
        "entrypoint": "clusters/dev/flux-system",
        "repository": "https://github.com/distributed-technologies/flux-test.git"
    },
    "images": [
        {
            "digest": "sha256:3614ec75eb7e90356fdfcea00aaa6bf97a1b5b305a0ed9558f7dfab9ed43010c",
            "image": "fluxcd/helm-controller",
            "registry": "ghcr.io",
            "tag": "v0.21.0"
        },
        {
            "digest": "sha256:c9e8264460b79ef9aabfc67b5eca6994c01cd4bac684180902bab4332d85c651",
            "image": "fluxcd/kustomize-controller",
            "registry": "ghcr.io",
            "tag": "v0.25.0"
        },
        {
            "digest": "sha256:0aeb57c1d328114effee005de25d1871e834c09fde12441f6f2dc2bae1bdfbc8",
            "image": "fluxcd/notification-controller",
            "registry": "ghcr.io",
            "tag": "v0.23.5"
        },
        {
            "digest": "sha256:2b89709e7ff8cdda056d0c2e2a06e73a207a2e37ce916041de158d13a348d822",
            "image": "fluxcd/source-controller",
            "registry": "ghcr.io",
            "tag": "v0.24.4"
        },
        {
            "digest": "sha256:45dde4968305074d15a975f4897cd696d254a952e3bba0d5db91059641a162ff",
            "image": "stefanprodan/podinfo",
            "registry": "ghcr.io",
            "tag": "6.1.6"
        },
        {
            "digest": "sha256:c00ba61e2d7940413feb9d060a3df64d3b5010e01bdf563752cd8c4ba5ebde13",
            "image": "rook/ceph",
            "registry": "docker.io",
            "tag": "v1.9.7"
        },
        {
            "digest": "sha256:d5b2a2e2bb07a4a5a7c4bd9e54641cab63e1d2627622dbde17efc04849d3d30d",
            "image": "prometheus/node-exporter",
            "registry": "quay.io",
            "tag": "v1.3.1"
        },
        {
            "digest": "sha256:ef2a72bc0bc150ffb24cc8ea65ed4e6900c9a88753d9b18d1e1e89c77cc66efc",
            "image": "kiwigrid/k8s-sidecar",
            "registry": "quay.io",
            "tag": "1.19.2"
        },
        {
            "digest": "sha256:1e180fcaede581b8cc8e2ce8bc010daff9c64972023a0faaf226d92bd9840113",
            "image": "grafana/grafana",
            "registry": "docker.io",
            "tag": "9.0.2"
        },
        {
            "digest": "sha256:8f5d17635bcfcf49186154b9745e08015879ef1c01853f1ff74366db5da4137b",
            "image": "kube-state-metrics/kube-state-metrics",
            "registry": "registry.k8s.io",
            "tag": "v2.5.0"
        },
        {
            "digest": "sha256:1c190491ddbdc16e4a868dc8f575e34f48a1739656f53ef5179cac4a7252feff",
            "image": "prometheus-operator/prometheus-operator",
            "registry": "quay.io",
            "tag": "v0.57.0"
        },
        {
            "digest": "sha256:23a03c9c381fba54043d0f6148efeaf4c1ca2ed176e43455178b5c5ebf15ad70",
            "image": "ingress-nginx/kube-webhook-certgen",
            "registry": "k8s.gcr.io",
            "tag": "v1.1.1"
        }
    ]
}
