{
    "helm": {
        "api_versions": [],
        "values": {}
    },
    "images": [
        {
            "digest": "sha256:0f4f3e1068268f0f5192797b003add304d9af5030b8ff341a7a716759d6102c7",
            "image": "library/haproxy",
            "registry": "docker.io",
            "tag": "2.0.4"
        },
        {
            "digest": "sha256:2e0e725c9282bfb7b08bea7dbbfd8dbce6410d670e3f8addd9b6540d818ad520",
            "image": "argoproj/argocd",
            "registry": "quay.io",
            "tag": "v2.1.2"
        },
        {
            "digest": "sha256:6b3cc1c385fbc7542244614e4432f2546c619b7850d44d2379c598309a06bed8",
            "image": "dexidp/dex",
            "registry": "ghcr.io",
            "tag": "v2.30.0"
        },
        {
            "digest": "sha256:8061ca607db2a0c80010aeb5fc9bed0253448bc68711eaa14253a392f6c48280",
            "image": "library/redis",
            "registry": "docker.io",
            "tag": "6.2.4-alpine"
        },
        {
            "digest": "sha256:f3f51453e4261734f08579fe9c812c66ee443626690091401674be4fb724da70",
            "image": "oliver006/redis_exporter",
            "registry": "docker.io",
            "tag": "v1.15.1"
        }
    ],
    "yggdrasil_repository": {
        "commit": "00d6a62598bc7833bde3e067043fe842bbbccbbf",
        "repository": "https://github.com/distributed-technologies/yggdrasil.git"
    }
}
